.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  position: relative;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
}

// Credits
.credits {
  & p {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-color: #000;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
    font-size: 10px;
    font-weight: 300;
    padding: 1rem;
    text-align: right;
    line-height: 1.5;
    letter-spacing: 0.8px;

    & a:link,
    a:active,
    a:visited,
    a:hover {
      color: #fff;
      text-decoration: none;
      padding-bottom: 0.2rem;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    }
  }
}
